.grid-container {
    display: grid;
    margin-top: 10px;
    grid-gap: 5px 5px;
    grid-template-columns: 33.3% 33.3%;
    grid-template-areas:
        "header header header"
        "content content1 content2"
        "content3 content4 content4";
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-areas: none;
        display: flex;
        flex-direction: column;
    }
}

.grid-container > div {
    padding: 5px;
}

#item-a {
    display: block;
    grid-area: header;
    border: 1px solid black;
    text-align: center;
}
.item-b {
    grid-area: content;
    border: 1px solid black;
    background-color: green;
}

.ib {
    grid-area: content1;
}


.item-c {
    grid-area: content3;
    border: 1px solid black;
}

.item-e {
    grid-area: content1;
    border: 1px dashed black;
    background-color: cadetblue;
}

.ie {
    grid-area: content; 

}

.item-f {
    grid-area: content2;
    border: 1px solid black;
    background-color: coral;
}
.item-g {
    grid-area: content4;
    border: 1px solid black;
}

.button {
    margin-top: 10px;
}
